body {
    margin: 0;
    min-width: 1000px;
    height: 100vh;
    display: flex; 
    position: relative;
    overflow-x: auto;
    overflow-y: visible;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
}

.centered {
    position: relative;
    z-index: 1;
    text-align: center;
}

.top-centered {
    position: absolute;
    top: 10%;
    text-align: center;
    color: #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #000000;
}

h1 {
    color: #000000;
    font-size: 3em;
}

p {
    color: #000000;
    font-size: 2em;
    margin-left: 100px;
}

h2 {
    color: #000000;
    font-size: 1.5em;
}

h3 {
    color: #000000;
    font-size: 1em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #bbbbbb;
}

.publication {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 100px;
}

.publication .left {
    width: 100%;
}

.publication .right {
    width: 100%;
}

.publication-list {
    list-style-type: none;
    padding-top: 50px;
    margin-left: 1000px;
}

#logo {
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 8vw;
    height: 8vw;
    background-size: cover;
    -webkit-mask-image: radial-gradient(circle, white 50%, transparent 100%);
    mask-image: radial-gradient(circle, white 10%, transparent 100%);
}

#description {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#footer-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #000000;
    font-size: 20px;
}

#header-text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000000;
    font-size: 20px;
}

#warning-text {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 50px;
    text-align: center;
}

#home-button {
    position: absolute;
    top: 10px;
    left: 10px;
}
